@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins:wght@200;400;600&display=swap");

*{
   box-sizing: border-box;
}

body{
  background-color: #22254b;
  color: white;
  font-family: "poppins", sans-serif;
  margin: 0;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie{
  width: 300px;
  margin: 1rem;
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
}

.movie img{
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.movie-info{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
}

.movie-info h3{
  margin: 0;
}

.movie-over{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #22254b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
  transform: translateY(101%);
  transition: 0.3s ease-in-out;
}

.movie:active .movie-over{
  transform: translateY(0%);
}

header{
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.search{
  font-family: inherit;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
}

.search:focus{
  outline: none;
}

.vote{
  background-color: #22254b;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bolder;
}

.rel-date{
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 0px;
}